body.mode-flex div.parent-container{
    /*display mode flexbox*/
    display: flex;
    align-items: center;
    justify-content: center
}

body.mode-flex article.main{

}

body.mode-flex section.item{

}

body.mode-flex section.item > .row-wide{

}

body.mode-flex section.item > .two-grid{

}

body.mode-flex .two-grid div{
    
}